* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr );
  grid-template-areas:
        'header header header header header'
        'mapid  mapid  mapid  notes  links'
        'mapid  mapid  mapid  notes  links'
        'mapid  mapid  mapid  notes  links';
  width: 80%;
  margin: 5% 8%;
  grid-gap: 1.5em;
  background-color: rgb(44, 168, 240);
  border: 3px solid blue;
  border-radius: 5px;
  padding: 20px;
}


#header {
  grid-area: header;
  color: rgb(107, 39, 253);
  font-size: 90px;
  background-color: rgb(87, 87, 87);
  border: 2px solid black;
  border-radius: 0.5em;
  text-align: center;
}

#mapid {
  grid-area: mapid;
  border: 2px solid black;
  border-radius: 2px;
}

#notes {
  grid-area: notes;
}

#header a:visited{
color: rgb(142, 89, 255);
}

#links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  background-color: rgb(87, 87, 87);
  border: 2px solid black;
  border-radius: 2px;
  padding: 5px;
  /* align-items: flex-end; */
}

#links li {
  width: 80%;
}

#links a {
  padding: 10px 0;
  text-decoration: none;
  color: rgb(193, 164, 255);
}

#links a:visited{
  color:rgb(193, 164, 255);
}

