* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr );
  grid-template-areas:
        'header header header header header'
        'mapid  mapid  mapid  notes  links'
        'mapid  mapid  mapid  notes  links'
        'mapid  mapid  mapid  notes  links';
  /* width: 80%; */
  height: 80vh;
  margin: 5%;
  grid-gap: 1.5em;
  background-color: rgb(44, 168, 240);
  border: 3px solid blue;
  border-radius: 5px;
  padding: 20px;
}


#header {
  grid-area: header;
  color: rgb(107, 39, 253);
  font-size: 90px;
  background-color: rgb(87, 87, 87);
  border: 2px solid black;
  border-radius: 0.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mapid {
  grid-area: mapid;
  border: 2px solid black;
  border-radius: 3px;
}

#notes {
  grid-area: notes;
}

#notes h2 {
  margin-bottom: 10px;
}

#notes p {
  margin-top: 15px;
}

#notes p::before {
  content: ">> ";
  font-size: 1.1em;
  font-weight: bold;
}

#notes div {
  display: flex;
  flex-direction: column;
}

#header a:visited{
color: rgb(142, 89, 255);
}

#links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
  background-color: rgb(87, 87, 87);
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
  /* align-items: flex-end; */
}

#links li {
  width: 95%;
}

#links a {
  padding: 10px 0;
  text-decoration: none;
  color: rgb(193, 164, 255);
}

#links a:visited{
  color:rgb(193, 164, 255);
}

